.portfolioSlide {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 14px;
  transition: font-size .3s, transform 0.5s, opacity 0.5s;
  padding: 20px 15px 50px;
  overflow: auto;

  &:global(.transition-appear) {
    opacity: 0;
    transform: translate3d(0, 100vh, 0);
  }

  &:global(.transition-appear.transition-appear-active) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }

  &:global(.transition-leave) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }

  &:global(.transition-leave.transition-leave-active) {
      opacity: 0;
      transform: translate3d(0, 100vh, 0);
  }

  h1 {
    font-size: 5em;
    margin-bottom: 10px;
    font-weight: 300;
    grid-area: 1/1/1/3;
    text-align: center;

    @media (max-width: 700px) {
      grid-area: 1/1/1/2;
    }
  }

  h2 {
    font-size: 3em;
    font-weight: 300;
    text-align: right;

    @media (max-width: 700px) {
      text-align: center;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;

    & > div {
      font-size: 2em;
    }

    .thin {
      font-weight: 100;
      margin-bottom: 20px;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  .toHomePage {
    font-size: 2em;
    text-align: center;

    i {
      display: block;
      font-size: 1em;
    }

    &:before {
      display: none
    }

    @media (max-width: 700px) {
      right: 5px;
      font-size: 3em;

      i {
        display: none
      }
    }
  }

  @media (max-width: 1110px) {
    font-size: 10px;
  }

  @media (max-width: 700px) {
    font-size: 8px;
  }

  @media (max-width: 410px) {
    font-size: 6px;
  }
}
