.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  transition: font-size .3s, opacity .5s, transform .5s;
  z-index: 4;

  &:global(.transition-appear) {
    opacity: 0;
    transform: translate3d(0, -100vh, 0);
  }

  &:global(.transition-appear.transition-appear-active) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }

  &:global(.transition-leave) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }

  &:global(.transition-leave.transition-leave-active) {
      opacity: 0;
      transform: translate3d(0, -100vh, 0);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    max-height: 90%;
    grid-gap: 50px;

    @media (max-width: 700px) {
      height: 90%;
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: auto 100px;
    }
  }

  .photo {
    width: 100%;
    padding-bottom: 100%;
    align-self: center;
    background-image: url('/img/photo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: 700px) {
      width: auto;
      height: 100%;
      max-width: 100%;
      padding-bottom: 0;
    }
  }

  .textContainer {
    align-self: center;

    h1 {
      font-size: 5em;
      margin-bottom: 10px;
      font-weight: 300;
    }

    p {
      font-size: 3em;
      margin-bottom: 10px;
    }

    .social {
      font-size: 3em;
      display: inline-grid;
      grid-gap: 50px;
      grid-auto-flow: column;

      @media (max-width: 700px) {
        grid-gap: 20px;
        font-size: 4em;
      }
    }

    @media (max-width: 700px) {
      text-align: center;
    }
  }

  .portfolio {
    position: absolute;
    bottom: 10px;
    font-size: 2em;
    text-align: center;

    &:before {
      display: none;
    }

    i {
      display: block;
      font-size: 1em;
    }

    @media (max-width: 700px) {
      bottom: auto;
      top: 10px;
      right: 5px;
      font-size: 3em;

      i {
        display: none
      }
    }
  }

  @media (max-width: 1110px) {
    font-size: 10px;
  }

  @media (max-width: 700px) {
    font-size: 8px;
  }

  @media (max-width: 410px) {
    font-size: 6px;
  }
}
