.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  canvas {
    background-color: #9FD6D2;
    position: relative;
    transition: background-color .5s;
  }
}
