@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.application {
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  position: absolute;
}

a, a:visited {
  color: #fff;
  text-decoration: none;
  position: relative;

  &:before {
    background-color: rgba(255,255,255,0.5);
    content: '';
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    transition: all 0.3s;
  }
  &:hover {
    &:before {
      left: 0;
      right: 0;
    }
  }
}

:global(.transition-wrapper) {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

:global(.transition-wrapper .transition-item) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
